body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
  color: white;
  background-color: rgb(2, 93, 136);
  text-align: center;
  filter: uppercase;
  box-sizing: border-box;
  padding: 20px;
  /* border: 2px solid rgb(241, 117, 0); */
}

p {
  margin: 25px;
  padding: 25px;
}

.hobbies {
  margin: 25px;
  padding: 25px;
  width: 50%;
  font-size: large;
}

.favoriteThings {
  width: 50%;    
  margin: 2em 0;
  font-size: large;
}

.container {
  display: flex;
  flex-direction: row;
  margin: 2em 0;
  font-size: large;
}

img {
  margin: 25px;
  padding: 25px;
  border-radius: 50%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button {
  margin: 25px;
  padding: 5px;
  border-radius: 5px;
}