body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
  text-align: center;
  filter: uppercase;
}

p {
  font-size: large;
  box-sizing: border-box;
  padding: 20px;
  border: 5px solid rgb(1, 93, 155);
  margin: 0;

}

.hobbies {
 width: 50%;
  margin: 2em 0;
  font-size: large;
}

.favoriteThings {
  width: 50%;    
  margin: 2em 0;
  font-size: large;
}

.container {
  display: flex;
  flex-direction: row;
  margin: 2em 0;
  font-size: large;

}